body{
    background-image: url("../imgs/background-cake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
#pageName{
    text-align: center;
}

#NiceBakery{
    color: #B77466;
    text-shadow: -3px -3px 3px #E2B59A, 3px 3px 3px #E2B59A;
    font-family: 'Brush Script MT';
    font-size: larger;
}

header, nav, main{
    background-color: #FFE1AF;
    background: linear-gradient(to right, #FFE1AF, #ffe2affa, #ffe2aff5, #ffe2afe9);
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

nav ul{
    list-style-type: circle;
}

.mainPageFAQ > h3{
    font-family:monospace;
}

#pricingTable{
    background-color: #400c02;
}

#pricingTable tr{
    background-color: #d0c1be;
}

#infoTable{
    background-color: #B77466;
}
.fillingTable{
    background-color: #c8614d;
}
.occasionTable{
    background-color: #e7c3bc;
}

.specialPrice{
    color: #671505;
}

#orderForm input[value] + label{
    font-family: 'Monaco';
}

#scheduleTable{
    background-color: #400c02;
}

#scheduleTable th{
    background-color: #B77466;
}

#scheduleTable td{
    background-color: #d0c1be;
}

input{
    background-color: #eadfdd
}