body{
    background-image: url("../imgs/background-cake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

h1{
    text-align: center;
}

#headerContainer{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

#headerContainer > div{
    padding: 25px;
    background: linear-gradient(to right, bisque, ivory, bisque);
}

nav{
    clear: both;
}